<table class="table table-striped">
  <thead>
   <tr>
    <td>S.No</td>
    <td>Username</td>
    <td>Colors Placed</td>
    <td>Favourite Color</td>
   </tr>
  </thead>
  <tbody>
   <%@users.each_with_index do |user,index|%>
    <tr>
     <td><%= index+=1%>.</td>
     <td><%= user.user_name%></td>
     <td><%= user.color_count%></td>
     <td style="background-color: <%= user.mostly_used_color%>; width: 10px"></td>
    </tr>
   <%end%>
  </tbody>
</table>